/*
 * Назначение файла: Вспомогательные классы-утилиты
 */

.button-reset {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.invisible {
  visibility: hidden !important;
}

/* ================== GLOBAL SCROLLBARS ================== */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: #cecece;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 999px;
}

.d-none {
  display: none !important;
}
